In [9]:
import os
import pandas as pd
import numpy as np

In [10]:
folder = r"C:\Users\frede\OneDrive\Dokumenter\DTU\bachelor\data\ts_lakes"
file = r"\ts_lakes_list.txt"
path = folder + file
lake_id_df = pd.read_csv(path,
                engine='python',
                header=None)
lake_id_df = lake_id_df.drop(labels=5140, axis=0)

In [11]:
lake_id_df.head()

            0
0  1140000602
1  1150000822
2  1150001092
3  1150002502
4  1150002582

In [12]:
lake_id_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5140 entries, 0 to 5139
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5140 non-null   object
dtypes: object(1)
memory usage: 80.3+ KB

In [13]:
lakefolder = folder +"\\"+ lake_id_df[0][0]
filename = lakefolder + "\lake_dir.txt"
os.system(f'cmd /k "cd {lakefolder} & dir /b /s > {filename}"')

0

In [14]:
for index, row in lake_id_df.iterrows():
    lakefolder = folder +"\\"+ row[0]
    filename = lakefolder + "\lake_dir.txt"
    os.system(f'cmd /k "cd {lakefolder} & dir /b > {filename}"')